.about {
  color: #fb4855;
  background-color: #23263a;
  z-index: 2;
  position: relative;
}

.about-container {
  display: flex;
  padding: 5% 15%;
  flex-direction: column;
}

.about-heading {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: #fb4855;
  text-transform: capitalize;
}

.about-card {
  padding: 0 1rem;
  font-size: 1.3rem;
  color: white;
  border-bottom-style: solid;
  border-bottom-color: #fb4855;
  border-top-style: solid;
  border-top-color: #fb4855;
  border-width: 1px;
  transition: 0.4s;
}

.about-grid > *:hover {
  background-color: #fb4855;
  color: white;
}
/* change icon to white when hovered */
.about-grid > *:hover .material-symbols-outlined {
  color: white;
}

.about-card-content {
  margin: 2% 0;
  padding: 10% 0;
  height: auto;
}

.about-title {
  margin-bottom: 5%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

hr {
  height: 2px;
  background-color: #2b2d41;
  border: none;
}

.material-symbols-outlined {
  color: #fb4855;
}

.about-grid {
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5%;
}

.animation-slide {
  animation-duration: 1.5s;
  animation-name: slide-up-animation;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes slide-up-animation {
  from {
    transform: translateY(10%);
    opacity: 0%;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@media (max-width: 700px) {
  .about-container {
    padding: 0 5% 10% 5%;
  }
}

@media screen and (max-width: 1200px) {
  .about-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-card {
    border-top-style: none;
    border-width: 1px;
  }
}
