.header {
  display: flex;
  font-size: xx-large;
  padding: 0 10%;
  justify-content: center;
  height: 100vh;
  font-family: "Prompt", sans-serif;
  color: white;
  flex-direction: column;
  background-color: #181a2b;
  /* background-image: url("https://www.transparenttextures.com/patterns/cartographer.png"); */
}

.name {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
}

.desc {
  font-size: 2rem;
  text-transform: capitalize;
}

.gap {
  height: 8rem;
}

.arrow-down {
  display: flex;
  position: absolute;
  bottom: 3rem;
  border-style: solid;
  border-color: #fb4855;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  color: white;
  border-radius: 500px;
  width: 35px;
  height: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-down:hover {
  background-color: #fb4855;
}

.arrow-down:hover #arrow-pointing-down {
  color: white;
}

.header-container > div {
  display: flex;
  justify-content: center;
}

#arrow-pointing-down {
  color: #fb4855;
  animation: blink 2.5s ease-in infinite;
}

@media (max-width: 400px) {
  .name {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3rem;
  }

  .desc {
    font-size: 1rem;
    text-transform: capitalize;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .name {
    font-size: 3.8rem;
    letter-spacing: 0.5rem;
    line-height: 4rem;
  }

  .desc {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .header-container {
    padding-left: 5%;
  }
  .header {
    padding: 0;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* background animation */
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.header li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
}

.header li:nth-child(0) {
    left: 21%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 1s;
}
.header li:nth-child(1) {
    left: 10%;
    width: 210px;
    height: 210px;
    bottom: -210px;
    animation-delay: 5s;
}
.header li:nth-child(2) {
    left: 10%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 2s;
}
.header li:nth-child(3) {
    left: 37%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 8s;
}
.header li:nth-child(4) {
    left: 6%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 3s;
}
.header li:nth-child(5) {
    left: 32%;
    width: 190px;
    height: 190px;
    bottom: -239px;
    animation-delay: 1s;
}
.header li:nth-child(6) {
    left: 20%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 12s;
}